body
{
	background-color: #fff;
}

.header
{
	background-color: #4a685c; 
	color: #fff;
	min-height: 180px;	
	text-align: center;	
}

.header-text
{
		
}

.comment-modal-header
{	
	font-size: 14px;
	font-family: 'Times new roman', sans-serif;
}

#topbar
{
	background-color: #219AC2;	
}

.topbar-item
{
	color: #fff!important;
	text-decoration: none;
	font-size: 14px;	
	font-family: 'Times New Roman'!important;
}

.topbar-item:hover
{
	color: #4a685c!important;
	font-weight: bold;
}

.questions-title
{
	background-color: #4a685c!important;
	color: white!important;
	font-size: 30px!important;
	font-family: 'Segoe print', sans-serif!important;
}

.questions-body
{
	font-size: 12px; 
	border: 2px solid black!important;
}

.news-font
{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	word-wrap: break-word!important;
	text-align: justify!important;
}

.news-title
{
	font-size: 25px;
}

.news-container
{
	max-width: 750px;
}

.sidebar-item
{
	text-align: center; 
	text-decoration: none!important;
}

.carousel-main
{
	max-height: 800px!important;
}

.carousel-img
{
	max-height: 600px!important; 
	width: 100%;
}

.standard-title
{
	color: black!important;
	font-size: 30px!important;
	font-family: 'Segoe print', sans-serif!important;
	text-align: center;
}

.register-form-title
{
	background-color: #4a685c!important;
	color: white!important;
	font-size: 30px!important;
	font-family: 'Segoe print', sans-serif!important;
	text-align: center;
}

.register-form-body
{
	font-size: 12px; 
	border: 2px solid black!important;
}

@font-face {
  font-family: 'Ailerons-Regular';
  src: url("<?= $this->basePath('img/2'); ?>");
  src: url('Ailerons-Regular.eot?#iefix') format('embedded-opentype'),
       url('Ailerons-Regular.woff2') format('woff2'),
       url('Ailerons-Regular.woff') format('woff'),
       url('Ailerons-Regular.ttf') format('truetype'),
       url('Ailerons-Regular.svg#Ailerons-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vonique 92 Regular';
  src: url('Vonique 92 Regular.eot');
  src: url('Vonique 92 Regular.eot?#iefix') format('embedded-opentype'),
       url('Vonique 92 Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vonique92';
  src: url('Vonique92.woff') format('woff'),
       url('Vonique92.ttf') format('truetype'),
       url('Vonique92.svg#Vonique92') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CreativeType';
  src: url('CreativeType.eot');
  src: url('CreativeType.eot?#iefix') format('embedded-opentype'),
       url('CreativeType.woff2') format('woff2'),
       url('CreativeType.woff') format('woff'),
       url('CreativeType.ttf') format('truetype'),
       url('CreativeType.svg#CreativeType') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('TrajanPro-Regular.eot');
  src: url('TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('TrajanPro-Regular.woff2') format('woff2'),
       url('TrajanPro-Regular.woff') format('woff'),
       url('TrajanPro-Regular.ttf') format('truetype'),
       url('TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Original';
  src: url('TrajanPro-Original.ttf') format('truetype');
  font-weight: 

normal;
  font-style: normal;
}



